node_modules/
dist/
release/
release2/
.vite/
*.log
.DS_Store
Thumbs.db
*.tsbuildinfo
android/release.keystore
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/capacitor-cordova-android-plugins/
